* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.footer {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 0px 0px 0px 4px;
  background: #684d4d;
  transition: all 0.3s ease 0s;
  position: relative;
}
.footer__container {
  display: flex;
}
.footer__enlace {
  list-style: none;
  display: inline-block;
  padding: 20px 10px;
}
.footer__bar {
  display: flex;
  padding: 8px 0px 0px;
  margin: 0px 50px 0px 0px;
}
.footer__logo {
  cursor: pointer;
}
.footer__list {
  padding-top: 0px 0px 0px 10px;
}
.footer__item {
  list-style: none;
  display: inline-block;
  padding: 8px;
}
.footer__link {
  font-family: "Gill Sans";
  font-weight: 500;
  font-size: 16px;
  color: #faf4f4ee;
  text-decoration: none;
}
.footer__title {
  color: #faf4f4ee;
  font: 14px;
}
.footer__icon {
  color: aliceblue;
  height: 20px;
}

.arrow {
  padding: 16px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.12), 0 8px 8px 0 rgba(0, 0, 0, 0.24);
  right: 16px;
  top: 0px;
  transform: translateY(-50%);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
.arrow__icon {
  width: 24px;
  height: 24px;
}